<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.6.5-beta001" targetFramework="net452" />
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net452" />
  <package id="Dangl.AVA" version="1.4.10-build-51" targetFramework="net452" />
  <package id="Dangl.AVA.Converter" version="1.4.13-build-55" targetFramework="net452" />
  <package id="Dangl.AVA.Converter.Excel" version="1.4.8-build-33" targetFramework="net452" />
  <package id="Dangl.Calculator" version="1.0.5" targetFramework="net452" />
  <package id="Dangl.Common" version="1.4.1" targetFramework="net452" />
  <package id="Dangl.GAEB" version="1.4.12-build-51" targetFramework="net452" />
  <package id="Dangl.TextConverter" version="1.0.5" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net452" />
  <package id="HtmlAgilityPack.NetCore" version="1.5.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="SpreadsheetLight" version="3.4.9" targetFramework="net452" />
</packages>